<section
    id="gallery"
    class="py-24 px-6"
>

    <div class="max-w-6xl mx-auto">

        <h2 class="text-4xl font-bold mb-12">
            Galéria
        </h2>

        <div class="grid md:grid-cols-3 gap-4">

            <img
                src="https://picsum.photos/600/400?1"
                alt=""
                class="rounded-xl"
            />

            <img
                src="https://picsum.photos/600/400?2"
                alt=""
                class="rounded-xl"
            />

            <img
                src="https://picsum.photos/600/400?3"
                alt=""
                class="rounded-xl"
            />

        </div>

    </div>

</section>