<section
    class="h-screen flex flex-col justify-center items-center text-center px-6"
>

    <h1
        class="hero-title text-5xl md:text-7xl font-bold mb-6"
    >
        Pince Apartman
    </h1>

    <p class="text-xl max-w-2xl">
        Pihenés, nyugalom és természet egy helyen.
    </p>

</section>