---
import "../styles/global.css";

const { title = "Pince Apartman" } = Astro.props;
---

<!doctype html>
<html lang="hu">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
</head>

<body class="bg-stone-50 text-stone-800">
    <slot />
</body>
</html>